bin/scrapemaster.out
bin/checkresults.out
tmp.go
latex/Template.aux
latex/Template.bbl
latex/Template.blg
latex/Template.log
latex/Template.out
latex/Template.pdf
latex/Template.synctex.gz
latex/Template.toc
